body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("./back.jpg");

}

#list {
background-color: white;
width: 28%;
height: 100%;
top:11.7%;
position: absolute;
left: 10%;
z-index: 2;
}

#topArticle {
width: 47%;
height: 55%;
top:11.7%;
position: absolute;
left: 38%;
}

#article {
width: 50%;
height: 33%;
top:63%;
position: absolute;
left: 35%;
}


