.x {
width: 20px;
height: 15px;
}

.list {
display: grid;
list-style-type: none;
background-color: white;
width: 25%;
height: 150px;
position: relative;
top: 20px;
left: 88px;
z-index: 2;
grid-template-columns: 3fr 1fr;
padding: 5px;
border-bottom:2px solid;
border-color: gray;

}
.head {
	color: #3B5998;
	font-size: 20px;
}

#bla {
	color: gray;
}