.container {
	background-color: white;
	height: 92%;
	position: relative;
	right: 6.5%;
	width: 106%;
	border-top:2px solid;
	border-left: 2px solid;
	border-bottom: 2px solid;
	border-color: gray;
}
#topArticleTitle {
	color: gray;
	margin-left: 40px; 
}

#pic {
	width:50px; 
	height:50px;
	float: left;
	position: relative;
	top: 20%;
	margin-left: 20px;
   border-radius: 50%;


}

#icon{
display: grid;
grid-template-columns: 1fr 2fr;
width: 250px;

}
.textsmall{
	font-size: 10px;

}
.slide {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin-left: 50px;
margin-top: 30px;
width: 500px;
}

#one{
height: 100px;

}
#two{
height: 100px;

}
#three{
height: 100px;

}




